

.gender-geo{
    grid-area: gender-geo;
    display: grid;
    grid-template: 100% / 675px 31px 381px;
    grid-template-areas: 'gender . geo' ;
}

.gender{
    grid-area: gender;
    display: grid;
    padding: 23px 35px 1.5px 24px;
    background: $white-color;
    border-radius: 13px;
    overflow-x: auto;
    grid-template: 40px 1fr / 194px 320px 1fr;
    grid-template-areas: 'gender__title . gender__inform'
                         'gender__image gender__image gender__image';
    
    .gender__title{
        @include title;
        grid-area: gender__title;
    }

    .gender__inform{
        grid-area: gender__inform;
        display: flex;
        justify-content: space-between;
        width: 100px;
        font-size: 12px;
    }

    .gender__women{
        position: relative;
    }

    .gender__women::before{
        content: '';
        position: absolute;
        right: 50px;
        width: 15px;
        height: 16px;
        border-radius: 5px;
        background-color: $pink-color;
    }

    .gender__men{
        position: relative;
    }

    .gender__men::before{
        content: '';
        position: absolute;
        right: 30px;
        width: 15px;
        height: 16px;
        border-radius: 5px;
        background-color: $violet-color;
    }

    .gender__image{
        grid-area: gender__image;
        display: grid;
        grid-template-rows: 60px 60px 30px;
        grid-template-columns: 40px repeat(8, 73px);
        font-size: 12px;
        color: #979797;
        }

        .gender__grid-box{
            border: 1px solid#EFF3F9;
        }
        
        .gender__grid-box--percent{
            position: relative;
            border: none;
        }

        .gender__grid-box--age{
            position: relative;
            border: none;
        }

        .gender__percent{
            position: absolute;
            top: -5px;
        }

        .gender__age{
            position: absolute;
            top: 10px;
            left: 25%;
            margin: 0 auto;
        }

        .box--one{
            position: relative;
        }

        .box--one::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 2px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--one::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 2px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--two{
            position: relative;
        }

        .box--two::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 2px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--two::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 59px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--three{
            position: relative;
        }

        .box--three::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 2px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--three::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 59px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--four{
            position: relative;
        }

        .box--four::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 100px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--four::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 59px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--five{
            position: relative;
        }

        .box--five::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 59px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--five::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 2px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--six{
            position: relative;
        }

        .box--six::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 2px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--six::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 2px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--seven{
            position: relative;
        }

        .box--seven::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 30px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--seven::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 2px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }

        .box--eight{
            position: relative;
        }

        .box--eight::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 16px;
            width: 21px;
            height: 2px;
            background-color: $pink-color;
            border-radius: 5px 5px 0 0;
        }

        .box--eight::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 37px;
            width: 21px;
            height: 23px;
            background-color: $violet-color;
            border-radius: 5px 5px 0 0;
        }
}


.geo{
    grid-area: geo;
    display: grid;
    padding: 23px 24px 30px 25px;
    background: $white-color;
    border-radius: 13px;
    grid-template: 50px 1fr / 45% 10% 45%;
    grid-template-areas: 'geo__title . geo__subtitle'
                         'geo__rum . geo__cuo';
   
}

.geo__title{
    @include title;
    grid-area: geo__title;
}

.geo__subtitle{
    grid-area: geo__subtitle;
    font-size: 12px;
    color: #4F4F4F;
    text-align: right;

    .geo__subtitle--light{
        color: #979797;
    }
}

.geo__rum{
    grid-area: geo__rum;
    display: grid;
    font-size: 12px;
    grid-template: repeat(3, 49px) / 100%;
    grid-template-areas: 'geo__russia'
                         'geo__ukraine'
                         'geo__mangolia';
    
    .russia{
        grid-area: geo__russia;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .russia::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .russia::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 128px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

    .ukraine{
        grid-area: geo__ukraine;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .ukraine::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .ukraine::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

    .mangolia{
        grid-area: geo__mangolia;
        position: relative;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
    }

    .mangolia::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .mangolia::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

}

.geo__cuo{
    grid-area: geo__cuo;
    display: grid;
    font-size: 12px;
    grid-template: repeat(3, 49px) / 100%;
    grid-template-areas: 'geo__china'
                         'geo__usa'
                         'geo__other';

    .china{
        grid-area: geo__china;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .china::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .china::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 13px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
    
    .usa{
        grid-area: geo__usa;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .usa::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .usa::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
    
    .other{
        grid-area: geo__other;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .other::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .other::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 15px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
}

.geo__percent{
    color: #979797;
}



