

.gender-geo{
    grid-area: gender-geo;
    display: grid;
    grid-template: 100% / 675px 31px 381px;
    grid-template-areas: 'gender . geo' ;
}

.gender{
    grid-area: gender;
    display: grid;
    padding: 23px 35px 1.5px 24px;
    background: $white-color;
    border-radius: 13px;
    overflow-x: auto;
    grid-template: 40px 1fr / 194px 335px 1fr;
    grid-template-areas: 'gender__title . gender__inform'
                         'gender__image gender__image gender__image';
    
    .gender__title{
        @include title;
        grid-area: gender__title;
    }

    .gender__inform{
        grid-area: gender__inform;
        display: flex;
        justify-content: space-between;
        width: 100px;
        font-size: 12px;
    }

    .gender__women{
        position: relative;
    }

    .gender__women::before{
        content: '';
        position: absolute;
        right: 50px;
        width: 15px;
        height: 16px;
        border-radius: 5px;
        background-color: $pink-color;
    }

    .gender__men{
        position: relative;
    }

    .gender__men::before{
        content: '';
        position: absolute;
        right: 30px;
        width: 15px;
        height: 16px;
        border-radius: 5px;
        background-color: $violet-color;
    }

    .gender__image{
        grid-area: gender__image;
        background: url(../img/charts/gender-age.svg) no-repeat;
    }
}


.geo{
    grid-area: geo;
    display: grid;
    padding: 23px 24px 30px 25px;
    background: $white-color;
    border-radius: 13px;
    grid-template: 50px 1fr / 45% 10% 45%;
    grid-template-areas: 'geo__title . geo__subtitle'
                         'geo__rum . geo__cuo';
   
}

.geo__title{
    @include title;
    grid-area: geo__title;
}

.geo__subtitle{
    grid-area: geo__subtitle;
    font-size: 12px;
    color: #4F4F4F;
    text-align: right;

    .geo__subtitle--light{
        color: #979797;
    }
}

.geo__rum{
    grid-area: geo__rum;
    display: grid;
    font-size: 12px;
    grid-template: repeat(3, 49px) / 100%;
    grid-template-areas: 'geo__russia'
                         'geo__ukraine'
                         'geo__mangolia';
    
    .russia{
        grid-area: geo__russia;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .russia::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .russia::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 128px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

    .ukraine{
        grid-area: geo__ukraine;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .ukraine::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .ukraine::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

    .mangolia{
        grid-area: geo__mangolia;
        position: relative;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
    }

    .mangolia::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .mangolia::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }

}

.geo__cuo{
    grid-area: geo__cuo;
    display: grid;
    font-size: 12px;
    grid-template: repeat(3, 49px) / 100%;
    grid-template-areas: 'geo__china'
                         'geo__usa'
                         'geo__other';

    .china{
        grid-area: geo__china;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .china::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .china::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 13px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
    
    .usa{
        grid-area: geo__usa;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .usa::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .usa::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 5px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
    
    .other{
        grid-area: geo__other;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .other::before{
        content: '';
        position: absolute;
        top: 23px;
        width: 140px;
        height: 10px;
        background: #EFF3F9;
        border-radius: 6px;
    }

    .other::after{
        content: '';
        position: absolute;
        top: 23px;
        width: 15px;
        height: 10px;
        background: $violet-color;
        border-radius: 6px;
    }
}

.geo__percent{
    color: #979797;
}



