

.header{
    display: flex;
    align-items: center;
    grid-area: header;

    .header__title{
        margin-right: 45px;
        font-size: 30px;
        font-weight: $font-width-semi-bold;
    }


    .header__search{
        position: relative;
        display: flex;
        align-items: center;
        height: 32px;
        margin-right: 573px;
        background-color: $white-color;
        border: 1px solid $border-color;
        border-radius: 8px;

        .header__button{
            width: 38px;
            height: 100%;
            background: url(../img/header/search.svg) no-repeat center, $white-color;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 8px 0 0 8px;
        }

        .search{
            width: 120px;
            height: 100%;
            font-size: 12px;
            border: none;
            border-radius: 0 8px 8px 0;
        }
    
    }
    .header__search::after{
        content: '';
        position: absolute;
        left: 190px;
        width: 22px;
        height: 22px;
        background: url(../img/header/bell.svg) no-repeat center;
        cursor: pointer;
    }

    .name{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: $font-width-medium;
    }
    
    .name::before{
        content: '';
        position: absolute;
        left: 80px;
        width: 50px;
        height: 50px;
        background: url(../img/header/avatar-anya.svg) no-repeat center;
    }

    .name::after{
        content: '';
        position: absolute;
        left: 150px;
        width: 8px;
        height: 4px;
        background: url(../img/header/dropdown.svg) no-repeat center;
        cursor: pointer;
    }
}