

.reachs{
    grid-area: reachs;
    display: grid;
    grid-template: 242px / 768px 32px 288px;
    grid-template-areas: 'audience . by-device';
}

.reach__audience{
    grid-area: audience;
    display: grid;
    padding: 27px 28px 22px 24px;
    background-color: $white-color;
    border-radius: 13px;
    overflow-x: auto;
    grid-template: 20px 1fr / 372px 1fr;
    grid-template-areas: 'audience__title audience__form'
                         'audience__image audience__image';

    .audience__title{
        @include title;
        grid-area: audience__title;
    }
    
    .reach__data{
        cursor: pointer;
    }

    .audience__form{
        grid-area: audience__form;
        display: inline-flex;
        justify-content: space-between;
        width: 300px;
        font-size: 12px;
        font-weight: 500;

        .reach__input{
            position: relative;
            display: inline-flex;
            justify-content: center;
        }

        .total__input{
            position: absolute;
            cursor: pointer;
            z-index: -5;
            opacity: 0;
        }

        .total__input+label {
            display: inline-flex;
            user-select: none;
        }

        .total__input+label::before{
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 0.5em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $violet-color;
            border-radius: 25%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        .total__input:checked+label{
            border-color: $violet-color;
            background-color: $white-color;
            background-image: url(../img/charts/check.svg);
            background-repeat: no-repeat;
            background-position: 3px 2.5px;
        }

        .follower__input{
            position: absolute;
            cursor: pointer;
            z-index: -5;
            opacity: 0;
        }

        .follower__input+label {
            display: inline-flex;
            user-select: none;
        }

        .follower__input+label::before{
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 0.5em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $violet-color;
            border-radius: 25%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        .follower__input:checked+label{
            border-color: $violet-color;
            background-color: $white-color;
            background-image: url(../img/charts/check.svg);
            background-repeat: no-repeat;
            background-position: 3px 2.5px;
        }
    }

    .audience__image{
        grid-area: audience__image;
        position: relative;
        display: grid;
        grid-template-rows: repeat(5, 30px);
        grid-template-columns: 50px repeat(7, 91px);
        margin-top: 20px;
        font-size: 12px;
        color: #4F4F4F;
        
    }

    .audience__image::before{
        content: '';
        position: absolute;
        left: 45px;
        width: 641px;
        height: 120px;
        background: url(../img/charts/audience.svg) no-repeat center;
        z-index: 5;
    }

    .audience__grid-box{
        position: relative;
        border: 1px solid #EFF3F9;
    }

    .grid__text{
        position: absolute;
        right: -2px;
        top: -7px;
    }

    .audience__grid-box:nth-child(8n + 1){
        border: none;
    }

    .audience__grid-box:first-child{
        text-align: right;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    .grid--data{
        position: relative;
        border-left: none;
        border-bottom: none;
        border-right: none;
    }

    .grid--data::before{
        content: '';
        position: absolute;
        top: 0;
        left: -2px;
        width: 5px;
        height: 1px;
        background-color: #4f4f4f;
        transform: rotate(90deg);
    }

    .grid--data::after{
        content: '';
        position: absolute;
        top: 0;
        right: -2px;
        width: 5px;
        height: 1px;
        background-color: #4f4f4f;
        transform: rotate(90deg);
    }

    .data__text{
        position: absolute;
        top: 10px;
    }

    .data__text--last{
        position: absolute;
        top: 10px;
        right: -35px;
    }

}

.reach__by-device{
    grid-area: by-device;
    display: grid;
    padding: 22px 10px 31px 22px;
    background-color: $white-color;
    border-radius: 13px;
    grid-template: 72px 1fr /1fr 108px;
    grid-template-areas: 'by-device__title by-device__title'
                         'by-device__image by-device__inform';

    .by-device__title{
        @include title;
        grid-area: by-device__title;
    }

    .by-device__image{
        grid-area: by-device__image;
        position: relative;
        width: 136px;
    }

    .by-device__image::before{
        content: '';
        position: absolute;
        top: 10%;
        width: 121px;
        height: 121px;
        background: url(../img/charts/device-circle.svg) no-repeat center;
    }

    .by-device__image::after{
        content: '';
        position: absolute;
        top: 19%;
        left: 50%;
        width: 61px;
        height: 47px;
        background: url(../img/charts/device-triangle.svg) no-repeat center;
    }

    .violet-percent{
        position: absolute;
        top: 65%;
        left: 15%;
        font-size: 12px;
        color: #FDFDFF;
    }

    .pink-percent{
        position: absolute;
        top: 38%;
        left: 70%;
        font-size: 12px;
        color: #FDFDFF;
        z-index: 5;
    }

    .by-device__inform{
        grid-area: by-device__inform;
        font-size: 12px;

        .pink{
            position: relative;
            margin-bottom: 11px;
            margin-left: 20px;
        }

        .pink::before{
            content: '';
            position: absolute;
            right: 100px;
            width: 15px;
            height: 16px;
            border-radius: 5px;
            background-color: $pink-color;
        }

        .violet{
            position: relative;
            margin-left: 20px;
        }

        .violet::before{
            content: '';
            position: absolute;
            right: 100px;
            width: 15px;
            height: 16px;
            border-radius: 5px;
            background-color: $violet-color;
        }
    }
}
