

.reachs{
    grid-area: reachs;
    display: grid;
    grid-template: 242px / 768px 32px 288px;
    grid-template-areas: 'audience . by-device';
}

.reach__audience{
    grid-area: audience;
    display: grid;
    padding: 27px 28px 22px 24px;
    background-color: $white-color;
    border-radius: 13px;
    overflow-x: auto;
    grid-template: 20px 1fr / 372px 1fr;
    grid-template-areas: 'audience__title audience__form'
                         'audience__image audience__image';

    .audience__title{
        @include title;
        grid-area: audience__title;
    }
    
    .reach__data{
        cursor: pointer;
    }

    .audience__form{
        grid-area: audience__form;
        display: inline-flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;

        .reach__input{
            display: inline-flex;
            justify-content: center;
        }

        .total__input{
            margin-right: 5px;
            cursor: pointer;
        }

        .follower__input{
            margin-right: 5px;
            cursor: pointer;
        }
    }

    .audience__image{
        grid-area: audience__image;
        width: 100%;
        height: 100%;
        background: url(../img/charts/audience__reach.jpg) no-repeat center;
    }
}

.reach__by-device{
    grid-area: by-device;
    display: grid;
    padding: 22px 10px 31px 22px;
    background-color: $white-color;
    border-radius: 13px;
    grid-template: 72px 1fr /1fr 108px;
    grid-template-areas: 'by-device__title by-device__title'
                         'by-device__image by-device__inform';

    .by-device__title{
        @include title;
        grid-area: by-device__title;
    }

    .by-device__image{
        grid-area: by-device__image;
        position: relative;
        width: 136px;
    }

    .by-device__image::before{
        content: '';
        position: absolute;
        top: 10%;
        width: 121px;
        height: 121px;
        background: url(../img/charts/device-circle.svg) no-repeat center;
    }

    .by-device__image::after{
        content: '';
        position: absolute;
        top: 17%;
        left: 50%;
        width: 61px;
        height: 47px;
        background: url(../img/charts/device-triangle.svg) no-repeat center;
    }

    .violet-percent{
        position: absolute;
        top: 65%;
        left: 15%;
        font-size: 12px;
        color: #FDFDFF;
    }

    .pink-percent{
        position: absolute;
        top: 35%;
        left: 70%;
        font-size: 12px;
        color: #FDFDFF;
        z-index: 5;
    }

    .by-device__inform{
        grid-area: by-device__inform;
        font-size: 12px;

        .pink{
            position: relative;
            margin-bottom: 11px;
            margin-left: 20px;
        }

        .pink::before{
            content: '';
            position: absolute;
            right: 100px;
            width: 15px;
            height: 16px;
            border-radius: 5px;
            background-color: $pink-color;
        }

        .violet{
            position: relative;
            margin-left: 20px;
        }

        .violet::before{
            content: '';
            position: absolute;
            right: 100px;
            width: 15px;
            height: 16px;
            border-radius: 5px;
            background-color: $violet-color;
        }
    }
}
