
.wrap{
    position: relative;
    display: grid;
    width: 1280px;
    height: 880px;
    margin: 5% auto;
    font-family: 'Poppins', sans-serif;
    background-color: #EFF3F9;
    border-radius: 14px;
    grid-template: 100% /100px 1180px;
    grid-template-areas: 'nav  main';
}

.wrap::before{
    content: '';
    position: absolute;
    bottom: 400px;
    left: 200px;
    width: 806px;
    height: 806px;
    margin: 50px;
    background: linear-gradient(0.25turn ,$violet-color, $pink-color);
    border-radius: 50%;
    z-index: -1;
}

.wrap::after{
    content: '';
    position: absolute;
    top: 740px;
    left: 993px;
    width: 415px;
    height: 415px;
    margin: 50px;
    background: linear-gradient($violet-color, $pink-color);
    border-radius: 50%;
    z-index: 1;
}