@media (max-width: 768px){

    .wrap{
        // max-height: 100vh;
        margin: 0 auto;
        grid-template: 60px 1fr / 100%;
        grid-template-areas: 'nav'
                             'main';
    }

    .wrap::before{
        display: none;
    }
    
    .wrap::after{
        display: none;
    }

    .nav{
        grid-area: nav;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 50%;
        z-index: 10;

        .nav__logo{
            position: relative;
        }

        .nav__logo::after{
            content: '';
            position: absolute;
            top: 5px;
            left: 55vw;
            width: 22px;
            height: 22px;
            background: url(/src/img/header/bell.svg) no-repeat center;
            cursor: pointer;
        }

        .nav__bar {
            display: none;
        }
    }

    .nav::before{
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .container{
        grid-area: main;
        width: 100%;
        padding: 10px;
        grid-template: 137px 1fr 1fr 32px 1fr / 100%;
        grid-template-areas: 'header'
                             'cards'
                             'reachs'
                             '.'
                             'gender-geo';
    }

    .header{
        grid-area: header;
        display: grid;
        width: 100%;
        margin-bottom: 20px;
        grid-template: 50px 1fr / 50% 50%;
        grid-template-areas: 'header__title header__title'
                             'header__search name';

         .header__title{
            grid-area: header__title;
            position: relative;
            margin-right: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        .name{
            grid-area: name;
            font-size: 15px;
            margin-left: 17vw;
        }

        .header__search::after{
            display: none;
        }

        .header__search{
            grid-area: header__search;
            margin-left: 10px;
        }

        .name::before{
            left: 50px;
        }

        .name::after{
            display: none;
        }
    }


    .cards{
        grid-area: cards;
        display: flex;
        flex-direction: column;

        .card{
            width: 99%;
            margin-bottom: 20px;
        }
    }

    .reachs{
        grid-area: reachs;
        grid-template: 242px 32px 242px / 100%;
        grid-template-areas: 'audience'
                             '.'
                             'by-device';

        .reach__audience{
            grid-area: audience;
            overflow-x: auto;
        }

        .reachs__by-device{
            grid-area: by-device;
            width: 99%;
        }
    }
    
    .gender-geo{
        grid-area: gender-geo;
        grid-template: 242px 32px 242px / 100%;
        grid-template-areas: 'gender'
                             '.'
                             'geo';

        .gender{
            grid-area: gender;
        }

        .geo{
            grid-area: geo;
            width: 99%;
        }
    }
}    


@media (height: 1024px){


    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .name{
            margin: 0;
        }

        .header__search{
            margin-right: 0;
        }
    }
}